<h1>Listagem de Cursos</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Sigla</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Área</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    {{#each cursos}}
    <tr class="table-dark">
      <td>{{sigla}}</td>
      <td>{{nome}}</td>
      <td>{{descricao}}</td>
      <td>{{areaId}}</td>
      <td>
        <a href="/curso/{{id}}"><i class="fa-sharp fa-solid fa-eye"></i></a> 
        <a class="botao-delecao" href="/curso" data-cursoid="{{id}}" data-bs-toggle="modal" data-bs-target="#modal-curso-{{id}}"><i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/curso/create"><button type="button mt-2" class="btn btn-primary">Criar novo curso</button> </a>


{{#each cursos}}
<!-- Modal -->
<div class="modal fade" id="modal-curso-{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja apagar o curso <b>{{nome}}</b>? Essa ação não pode ser desfeita!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button id="delecao-curso-{{id}}" type="button" class="btn btn-primary">Sim</button>
      </div>
    </div>
  </div>
</div>
{{/each}}


{{#each cursos}}
<script>
  const delecaoCurso{{id}} = document.getElementById("delecao-curso-{{id}}");
  delecaoCurso{{id}}.onclick = function() {
    apagarCurso({{id}});
  }
</script>
{{/each}}