<h1>Listagem de Recursos</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Sigla</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Área</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    {{#each cursos}}
    <tr class="table-dark">
      <td>{{sigla}}</td>
      <td>{{nome}}</td>
      <td>{{descricao}}</td>
      <td>{{areaId}}</td>
      <td><a href="/curso/{{id}}"><i class="fa-sharp fa-solid fa-eye"></i></a> <a href="#"><i class="fa-solid fa-trash"></i></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/curso/create"><button type="button mt-2" class="btn btn-primary">Criar novo curso</button> </a>

